In [29]:
pip install langdetect

Requirement already satisfied: langdetect in c:\users\gonzalo\anaconda3\envs\dhdsblend\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\gonzalo\anaconda3\envs\dhdsblend\lib\site-packages (from langdetect) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import pandas as pd
import numpy as np

## for language detection
import langdetect

# Import the scraped job postings

### Import australian job postings

In [31]:
au_glass_df = pd.read_csv(r'./Glassdoor_WebS/Glassdoor_data_info_au.csv')
au_indeed_df = pd.read_csv(r'./Indeed_WebS/Indeed_data_info_au.csv')
au_link_df = pd.read_csv(r'./LinkedIn_WebS/Linkedin_data_info_au.csv')
au_seek_df = pd.read_csv(r'./Seek_WebS/Seek_data_info.csv')

# Performing some data cleansing and making sure the data is trustworthy

## Australian DFs

In [32]:
au_glass_df.columns

Index(['Unnamed: 0', 'Job Title', 'Company Name', 'Location', 'Date Scraped',
       'Job URL', 'Job Industry', 'Job Type', 'Job Seniority',
       'Job Description'],
      dtype='object')

In [33]:
au_glass_df.head(2)

,Unnamed: 0,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
(au_glass_df.drop('Unnamed: 0',axis=1,inplace=True))
au_glass_df.dropna(how='all',inplace=True)

In [35]:
au_glass_df.head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description
236,Data & Insights Analyst,Australian Communications and Media Authority,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Government,Job Type : N/A,NaN,We want to hear from you if you are a creative...
237,Business Analyst,NSW Public Service Commission,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,Organisation/Entity: Transport For NSW\nJob Ca...

In [36]:
au_indeed_df.columns

Index(['Unnamed: 0', 'Job Title', 'Company Name', 'Location', 'Date Scraped',
       'Job URL', 'Job Industry', 'Job Type', 'Job Seniority',
       'Job Description'],
      dtype='object')

In [37]:
au_indeed_df.drop('Unnamed: 0',axis=1,inplace=True)

In [38]:
au_indeed_df.head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description
0,\nRisk Advisory - Data & Analytics - 2022 Grad...,Deloitte,Sydney NSW,7/18/2021,https://au.indeed.com/rc/clk?jk=fb0bbd1a5c9886...,NaN,NaN,NaN,"Date: 18-Jul-2021\n\nLocation:\nSydney, NSW, A..."
1,Technical Business Analyst (Banking/Superannua...,Realtekh Australia,Sydney NSW,7/18/2021,https://au.indeed.com/company/Realtekh-Austral...,NaN,NaN,NaN,Role : Technical Business Analyst (Banking/Sup...

In [39]:
au_link_df.columns

Index(['Job Title', 'Company Name', 'Location', 'Date Scraped', 'Job URL',
       'Job Industry', 'Job Type', 'Job Seniority', 'Job Description',
       'Unnamed: 9'],
      dtype='object')

In [40]:
au_link_df.head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description,Unnamed: 9
0,0,Compliance Business Control Senior Analyst - F...,Citi,"Sydney, New South Wales, Australia",7/26/2021,https://au.linkedin.com/jobs/view/compliance-b...,"Banking, Financial Services, and Investment Ba...",Employment type\nContract,Not Applicable,Job Id: 21314133 The Compl Bus Control Sr Ana...
1,1,Business Analyst,Transport for NSW,"Burwood, New South Wales, Australia",7/26/2021,https://au.linkedin.com/jobs/view/business-ana...,Transportation/Trucking/Railroad,Employment type\nFull-time,Mid-Senior level,About Us Transport for NSW (TfNSW) is the lea...

In [41]:
au_link_df = au_link_df.drop('Job Title',axis=1).rename({'Company Name':'Job Title','Location':'Company Name','Date Scraped':'Location',\
'Job URL':'Date Scraped','Job Industry':'Job URL','Job Type':'Job Industry','Job Seniority':'Job Type','Job Description':'Job Seniority',\
'Unnamed: 9':'Job Description'},axis=1)

In [42]:
au_link_df.head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description
0,Compliance Business Control Senior Analyst - F...,Citi,"Sydney, New South Wales, Australia",7/26/2021,https://au.linkedin.com/jobs/view/compliance-b...,"Banking, Financial Services, and Investment Ba...",Employment type\nContract,Not Applicable,Job Id: 21314133 The Compl Bus Control Sr Ana...
1,Business Analyst,Transport for NSW,"Burwood, New South Wales, Australia",7/26/2021,https://au.linkedin.com/jobs/view/business-ana...,Transportation/Trucking/Railroad,Employment type\nFull-time,Mid-Senior level,About Us Transport for NSW (TfNSW) is the lea...

In [43]:
au_seek_df.columns

Index(['Unnamed: 0', 'Job Title', 'Company Name', 'Location', 'Date Scraped',
       'Job URL', 'Job Industry', 'Job Type', 'Job Seniority',
       'Job Description'],
      dtype='object')

In [44]:
au_seek_df.drop('Unnamed: 0',axis=1,inplace=True)

In [45]:
au_seek_df.head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description
0,Finance and Treasury Analyst,Gateway Bank Ltd,"Sydney CBD, Inner West & Eastern Suburbs",7/24/2021,https://www.seek.com.au/job/53012632?type=prom...,Accounting,Contract/Temp,NaN,This is a great opportunity for a junior Finan...
1,Junior Business Analyst - Data Entry,Talent Connect Australia,"Sydney CBD, Inner West & Eastern Suburbs",7/24/2021,https://www.seek.com.au/job/53114558?type=stan...,Information & Communication Technology,Contract/Temp,NaN,Talent Connect are currently partnering with a...

## Let the EDA begin

How will we handle it? We have to make a few decisions:
1. Will we find the most required skills for all of the countries altogether? Or will we address each separately?
2. Will we use any of the columns to group our information or analyze the dataset as a whole?
3. How will we work on the long text data?

1. As we will be deciding beforehand which country i'm moving to, I will address each country required skills separately
2. We will be looking for skills required for each position. It's likely that we will have to standirize the Job titles as different companies call the same positions different names
3. As we dive deeper into the data, we will be exploring different options.

### Australian DFs

First, we will concatenate all the dfs to be analyze the country data as a whole

In [46]:
df_au_concat = pd.concat([au_glass_df,
au_indeed_df,
au_link_df,
au_seek_df])

In [47]:
df_au_concat.head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description
236,Data & Insights Analyst,Australian Communications and Media Authority,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Government,Job Type : N/A,NaN,We want to hear from you if you are a creative...
237,Business Analyst,NSW Public Service Commission,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,Organisation/Entity: Transport For NSW\nJob Ca...

To simplify analysis, we will reset the index

In [48]:
df_au_concat.reset_index(drop=True,inplace=True)

### Language detection

Just to make sure we have reliable information, we will be using a language detection tool

In [49]:
txt = df_au_concat["Job Description"].iloc[0]
print(txt[0:40], " --> ", langdetect.detect(txt))

We want to hear from you if you are a cr  -->  en

In [50]:
df_au_concat['lang'] = df_au_concat.fillna('')['Job Description'].apply(lambda x: langdetect.detect(x) if str(x).strip() != "" else "")
df_au_concat.head()

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description,lang
0,Data & Insights Analyst,Australian Communications and Media Authority,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Government,Job Type : N/A,NaN,We want to hear from you if you are a creative...,en
1,Business Analyst,NSW Public Service Commission,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,Organisation/Entity: Transport For NSW\nJob Ca...,en
2,CRM Analyst,Hanes Brands,Alexandria,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Manufacturing,Job Type : Full-time,NaN,"Newly created role within our Online team, own...",en
3,"Professional, Data Analysis",NaN,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Information Technology,Job Type : Full-time,NaN,"Job Summary:\nJoin our team of over 5,000 empl...",en
4,Business Analyst,Corporate Services,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Business Services,Job Type : Full-time,NaN,About us\n\nTransport for NSW (TfNSW) is the l...,en

In [51]:
df_au_concat['lang'].value_counts()

en    4103
        91
pt       1
Name: lang, dtype: int64

#### Let's take a look at the non-english results

In [52]:
df_au_concat[df_au_concat['lang']==''].head(2)

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description,lang
1016,Application Development Senior Analyst,Jobs on jobactive,"Sydney, New South Wales, Australia",2021-07-27,https://au.linkedin.com/jobs/view/application-...,NaN,NaN,NaN,NaN,
1020,Business Analyst - Murex / Front Office,Excelian | Luxoft Financial Services,"Sydney, New South Wales, Australia",2021-07-27,https://au.linkedin.com/jobs/view/business-ana...,NaN,NaN,NaN,NaN,

The results where lang is empty are the ones where the job description field is empty, which makes sense. We should consider either completing the fields or dropping them as we won't be able to analyze the most fetched skills from them.

#### Let's take a look at the 'pt' ocurrence

In [53]:
df_au_concat[df_au_concat['lang']=='pt']['Job Description'][1176]

'The Business Process Consultant (BPC) will be responsible for delivering Industry best practices around platform implementation. The BPC is responsible for providing subject matter expertise within the industry. The BPC will establish, implement, and manage the business change required within a customer’s organization.  The BPC will lead all business process change aspects of the project delivery and solution delivery, be responsible for maintaining a high degree of expertise in ServiceNow best practices and hold yourself to high standards when implementing. Responsibilities include                                                                           Junte-se a nós. Seja parte da mudança. Sua carreira depende do que você quer ser e quem você quer ser. Trata-se de trazer suas capacidades, curiosidade e verdadeira essência para o seu trabalho. Na Accenture, você combinará sua criatividade com as mais recentes tecnologias para fazer coisas incríveis.  Somos uma comunidade global de profissionais apaixonados por tecnologia, projetos inovadores e ávidos por trabalhar em times de alta performance, com as mais recentes tecnologias como computação em nuvem, inteligência artificial, analytics, na transformação das maiores e mais respeitadas empresas do mundo.  Valorizamos o comprometimento com a criação de valor para os nossos clientes, o aprendizado contínuo, a nossa marca e reputação no mercado, a colaboração entre os nossos profissionais, com os nossos clientes e com a comunidade, o trabalho em equipe, o mindset e execução ágil, o respeito as pessoas, nossa rede global e, principalmente, os nossos profissionais.'

The job posting seems to be written in two languages: english and portuguese, and the language detection library accurately revealed that most of the text was written in portuguese. We can easily drop it as it is just one observation.

In [54]:
df_au_concat.drop(1176,inplace=True)

#### Checking the job title distribution

In [55]:
round(df_au_concat['Job Title'].value_counts()/len(df_au_concat)*100,2)[0:10]

Business Analyst                     4.22
Senior Business Analyst              2.81
Data Analyst                         2.00
Data Engineer                        1.91
Software Engineer                    1.84
Technical Business Analyst           1.62
Senior Technical Business Analyst    0.72
Senior Data Analyst                  0.57
Software Developer                   0.48
Motorcycle Postie                    0.43
Name: Job Title, dtype: float64

As we can see, the prevalent job title is Business analyst. However, we can see that senior business analyst is the second most fetched position. We will have to make a decision whether to merge these kind of ocurrences or not. Same case scenario with Software Engineer, for example.

In [56]:
# We look for all of the job titles that contain business in them, as it is the positions we will be looking for
df_au_concat[df_au_concat['Job Title'].str.contains('Business').fillna(False)]['Job Title'].value_counts().sum()

1113

1/4th of the job postings that we scraped contain business in the Job Title field. I believe this is a good enough sample to estimate the most requested skills. Hands on.

In [57]:
# Saving the rows that comply with the condition set
df_business_au = df_au_concat[df_au_concat['Job Title'].str.contains('Business').fillna(False)]

In [58]:
df_analyst_au = df_au_concat[df_au_concat['Job Title'].str.contains('Analyst').fillna(False)]

In [59]:
df_data_analytics_au = df_au_concat[df_au_concat['Job Title'].str.contains('Data Analytics').fillna(False)]

In [60]:
df_tableau_au = df_au_concat[df_au_concat['Job Title'].str.contains('Tableau').fillna(False)]

In [61]:
df_bi_au = df_au_concat[df_au_concat['Job Title'].str.contains('Business Intelligence').fillna(False)]

In [62]:
df_risk_au = df_au_concat[df_au_concat['Job Title'].str.contains('Risk').fillna(False)]

In [63]:
df_customer_au = df_au_concat[df_au_concat['Job Title'].str.contains('Customer').fillna(False)]

In [64]:
df_product_au = df_au_concat[df_au_concat['Job Title'].str.contains('Product').fillna(False)]

In [65]:
df_insights_au = df_au_concat[df_au_concat['Job Title'].str.contains('Insights').fillna(False)]

In [66]:
df_full_concat_au = pd.concat([df_business_au,df_analyst_au,df_data_analytics_au,df_tableau_au,df_bi_au,df_risk_au,df_customer_au,df_product_au,df_insights_au])

In [67]:
df_full_concat_au.drop_duplicates(inplace=True)

In [68]:
len(df_full_concat_au)

2570

In [69]:
df_full_concat_au.head()

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description,lang
1,Business Analyst,NSW Public Service Commission,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,Organisation/Entity: Transport For NSW\nJob Ca...,en
4,Business Analyst,Corporate Services,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Business Services,Job Type : Full-time,NaN,About us\n\nTransport for NSW (TfNSW) is the l...,en
8,Business Analyst,Macquarie Group Limited,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Finance,Job Type : Full-time,NaN,Our Macquarie Asset Management division has em...,en
12,Business Analyst - Finance,humm,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,hummgroup (ASX-HUM) is one of Australasia’s mo...,en
15,Technical Business Analyst,CoreLogic,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Information Technology,Job Type : Full-time,NaN,"Job Summary:\nJoin our team of over 5,000 empl...",en

### Text analysis

As we won't be modelling, we will be looking for some commonly asked for skills and we will measure how much they are mentioned in different job postings. For this, we will be using the str.contains method as used above.

##### Skills that we will be looking for
Below we will list the skills that will be looking for in the descriptions in order to understand which ones are fetched the most:
- Data Visualization (data viz - Visualizing Data - Reporting)
- Power BI (PowerBI)
- Tableau
- Looker
- Qlik
- Google Data Studio (GDS)
- Data Cleaning (Data prep - Data preparation)
- Programming
- MATLAB
- R
- Python
- SAS
- SQL 
- NoSQL
- Machine Learning (ML)
- Microsoft Excel
- ETL
- Azure
- AWS
- Google Cloud Platform (GCP)
- Oracle
- Domain (industry)

In [70]:
skills_list = ['data visualization','data viz','visualizing data','reporting','power bi','powerbi',\
'tableau','looker','qlik','google data studio', 'gds', 'data cleaning', 'data prep','data preparation'\
,'programming', 'matlab', ' r ', 'python', 'sas','sql', 'nosql','machine learning',' ml ','microsoft excel'\
,'excel','etl','azure','aws','google cloud platform','gcp','google','oracle','domain','industry','apache','spark'\
,'dataproc','databricks','airflow','dbt','pipeline','scalding','hadoop','pig']

In [71]:
df_full_concat_au.head()

,Job Title,Company Name,Location,Date Scraped,Job URL,Job Industry,Job Type,Job Seniority,Job Description,lang
1,Business Analyst,NSW Public Service Commission,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,Organisation/Entity: Transport For NSW\nJob Ca...,en
4,Business Analyst,Corporate Services,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Business Services,Job Type : Full-time,NaN,About us\n\nTransport for NSW (TfNSW) is the l...,en
8,Business Analyst,Macquarie Group Limited,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Finance,Job Type : Full-time,NaN,Our Macquarie Asset Management division has em...,en
12,Business Analyst - Finance,humm,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : N/A,Job Type : Full-time,NaN,hummgroup (ASX-HUM) is one of Australasia’s mo...,en
15,Technical Business Analyst,CoreLogic,Sydney,7/26/2021,https://www.glassdoor.com/partner/jobListing.h...,Industry : Information Technology,Job Type : Full-time,NaN,"Job Summary:\nJoin our team of over 5,000 empl...",en

### Looking for the terms on the Job Descriptions

In [72]:
skills_count_dict = {}

In [73]:
for i in skills_list:
    print(i,' was found in ',len(df_full_concat_au[df_full_concat_au['Job Description'].str.lower().str.contains(i).fillna(False)]),' job postings')
    skills_count_dict[i]=len(df_full_concat_au[df_full_concat_au['Job Description'].str.lower().str.contains(i).fillna(False)])

data visualization  was found in  26  job postings
data viz  was found in  2  job postings
visualizing data  was found in  0  job postings
reporting  was found in  841  job postings
power bi  was found in  151  job postings
powerbi  was found in  93  job postings
tableau  was found in  218  job postings
looker  was found in  8  job postings
qlik  was found in  29  job postings
google data studio  was found in  2  job postings
gds  was found in  0  job postings
data cleaning  was found in  3  job postings
data prep  was found in  14  job postings
data preparation  was found in  14  job postings
programming  was found in  112  job postings
matlab  was found in  13  job postings
 r   was found in  73  job postings
python  was found in  202  job postings
sas  was found in  140  job postings
sql  was found in  451  job postings
nosql  was found in  1  job postings
machine learning  was found in  54  job postings
 ml   was found in  10  job postings
microsoft excel  was found in  47  job postings
excel  was found in  870  job postings
etl  was found in  65  job postings
azure  was found in  62  job postings
aws  was found in  61  job postings
google cloud platform  was found in  5  job postings
gcp  was found in  23  job postings
google  was found in  84  job postings
oracle  was found in  34  job postings
domain  was found in  112  job postings
industry  was found in  603  job postings
apache  was found in  1  job postings
spark  was found in  11  job postings
dataproc  was found in  0  job postings
databricks  was found in  14  job postings
airflow  was found in  0  job postings
dbt  was found in  2  job postings
pipeline  was found in  52  job postings
scalding  was found in  0  job postings
hadoop  was found in  19  job postings
pig  was found in  0  job postings

In [74]:
# Let's take a look at our dict
skills_count_dict

{'data visualization': 26,
 'data viz': 2,
 'visualizing data': 0,
 'reporting': 841,
 'power bi': 151,
 'powerbi': 93,
 'tableau': 218,
 'looker': 8,
 'qlik': 29,
 'google data studio': 2,
 'gds': 0,
 'data cleaning': 3,
 'data prep': 14,
 'data preparation': 14,
 'programming': 112,
 'matlab': 13,
 ' r ': 73,
 'python': 202,
 'sas': 140,
 'sql': 451,
 'nosql': 1,
 'machine learning': 54,
 ' ml ': 10,
 'microsoft excel': 47,
 'excel': 870,
 'etl': 65,
 'azure': 62,
 'aws': 61,
 'google cloud platform': 5,
 'gcp': 23,
 'google': 84,
 'oracle': 34,
 'domain': 112,
 'industry': 603,
 'apache': 1,
 'spark': 11,
 'dataproc': 0,
 'databricks': 14,
 'airflow': 0,
 'dbt': 2,
 'pipeline': 52,
 'scalding': 0,
 'hadoop': 19,
 'pig': 0}

In [75]:
skills_df_au = pd.DataFrame(skills_count_dict.items(),columns=['skill','count'])

In [76]:
skills_df_au.head()

                skill  count
0  data visualization     26
1            data viz      2
2    visualizing data      0
3           reporting    841
4            power bi    151

In [77]:
skills_df_au['mentions_percent'] = round(skills_df_au['count']/len(df_full_concat_au)*100,2)

In [80]:
skills_df_au= skills_df_au.sort_values('mentions_percent',ascending= False)

## Exporting the results

In [81]:
#skills_df_au.to_csv(r'C:\Users\Gonzalo\Documents\DH\Contenido\ds_blend_students_2020\Proyectos Propios\By Industry\0 - Jobs\Data Analytics\Results - CSV\results_au.csv')